# Supervisor
supervisord.pid
supervisord.log

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
